* {
    box-sizing: border-box;
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    --hoverLinksColor: rgb(107, 181, 255);
    --navBgColor: rgb(43, 43, 43);
}
html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

nav {
    /* sticky fixed */
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(43, 43, 43);
    color: white;
    padding: 15px 5vw;
}
.nav-menu {
    list-style: none;
    display: flex;
    gap: 20px;
}
nav a {
    text-decoration: none;
    color: white;
    transition: color 0.7s ease;
}

nav a:hover {
    color: var(--hoverLinksColor);
}

.hamburger {
    display: none;
    cursor: pointer;
}
.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px auto;
    transition: 0.5s;
}

@media screen and (max-width: 768px) {
    /* HAMBURGER */
    .hamburger {
        display: block;
    }
    .hamburger.active .bar:nth-child(2) {
        transform: translateX(-10px);
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* NAV-MENU */
    .nav-menu {
        position: fixed;
        padding-top: 20px;
        pointer-events: none;
        top: 55px;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        clip-path: circle(50px at 90% -20%);
        height: 100vh;
        width: 100%;
        background-color: var(--navBgColor);
        transition: 1.5s;
    }
    .nav-menu.active {
        clip-path: circle(100vh at top center);
        pointer-events: auto;
    }
}
